<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="../../static/css/footer.css">
</head>
<body>
<footer class="footer">
    <div class="card">
        <h2>Интересные новости</h2>
        <p>В холодильнике повесился пельмень</p>
    </div>
    <div class="card">
        <h2>Новые товары</h2>
        <p>В нашем магазине стал доступен новый товар - сосика у тесте, булочка к чаю и пэльмень</p>
        <img src="../../../../static/images/b.png" alt="Мое изображение" class="img">
    </div>
    <div class="card">
        <h2>К важным новостям</h2>
        <p>И последняя карточка с какой-то интересной информацией</p>
    </div>
</footer>
</body>
</html>
